aiodns==3.0.0
aiogram==2.15
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
et-xmlfile==1.1.0
google-api-core==2.0.0
google-api-python-client==2.17.0
google-auth==2.0.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
httplib2==0.19.1
idna==3.2
jedi==0.18.0
loguru==0.5.3
msgpack==1.0.2
multidict==5.1.0
openpyxl==3.0.9
parso==0.8.2
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycparser==2.20
pycryptodomex==3.10.1
pynvim==0.4.3
pyparsing==2.4.7
pyTelegramBotAPI==3.8.2
pytz==2021.3
requests==2.26.0
rsa==4.7.2
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
steam==1.2.0
steampy==0.74
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.6
vdf==3.4
webdriver-manager==3.4.2
xlrd==2.0.1
yarl==1.6.3
